.MoviesPageWrap {
  padding: 20px 15px;
}

.MoviesPageList {
  padding-left: 40px;
  list-style-type: disc;
  /* list-style-position: outside; */
}

.MoviesPageItem:not(:last-child) {
  margin-bottom: 5px;
}
