.MovieCastWrap {
  padding: 20px 0px;
}

.MovieCastList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
}

.MovieCastItem {
  width: 239px;
  padding-bottom: 10px;
  box-shadow: 0 1px 6px var(--grey), 0 1px 1px var(--grey),
    0 2px 1px var(--grey);
}

.MovieCastImg {
  margin-bottom: 20px;
}

.MovieCastName {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}

.MovieCastChar {
  padding-left: 10px;
  padding-right: 10px;
}
